body {
    background-color: #101218;
    color: #dcdcdc;
    font-family: "Fira Code", monospace;
    padding: 2rem;
}

.log {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
    max-height: 90vh;
    overflow-y: auto;
    white-space: pre-wrap;
}