<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>Andrea - Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="json-card">
    <span>{</span>
    <br>
    <span class="key p-l-2">"name"</span>: <span class="value">"{about.name}"</span>,
    <br>
    <span class="key p-l-2">"title"</span>: <span class="value">"{about.title}"</span>,
    <br>
    <span class="key p-l-2">"bio"</span>: <span class="value">"{about.bio}"</span>,
    <br>
    <span class="key p-l-2">"location"</span>: <span class="value">"{about.location}"</span>,
    <br>
    <span class="key p-l-2">"email"</span>: <span class="value">"{about.email}"</span>,
    <br>
    <span class="key p-l-2">"website"</span>: <a class="value" href="{about.website}">"{about.website}"</a>
    <br>
    <span>}</span>
  </div>
</body>

</html>