
<div class="json-card">
  <span>{</span><br />
  <span class="p-l-2">"name"</span>: <span class="">"{about.name}"</span>,<br />
  <span class="p-l-2">"title"</span>: <span class="">"{about.title}"</span>,<br />
  <span class="p-l-2">"bio"</span>: <span class="">"{about.bio}"</span>,<br />
  <span class="p-l-2">"location"</span>: <span class="">"{about.location}"</span>,<br />
  <span class="p-l-2">"email"</span>: <span class="">"{about.email}"</span>,<br />
  <span class="p-l-2">"website"</span>: <a class="" href="{about.website}">"{about.website}"</a><br />
  <span>}</span>
</div>





