<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <title>Andrea Ciambella</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="layout">

    <!-- header -->
    <div class="header">
      <button onclick="loadContent('/portfolio/ui')">Home</button>
      <button onclick="loadContent('/about/ui')">About</button>
    </div>

    <!-- dynamic content -->
    <div id="main-content" class="main-content">
      
    </div>

    <!-- log terminal -->
    <div class="event-log">
      <iframe title="Event Log" src="/event-log/ui"></iframe>
    </div>

  </div>
</body>

<script>
  function loadContent(path) {
    fetch(path)
      .then(resp => resp.text())
      .then(html => {
        document.getElementById("main-content").innerHTML = html;
      });
  }

  window.onload = () => {
    loadContent('/portfolio/fragment');
  };
</script>

</html>